* {box-sizing:border-box}

body {
    background-color: grey;
    text-align: center;
}

#navbar {
    padding-bottom: 2em;
    padding-top: 1em;
    background: cadetblue;
    
}

.navbarElement{
    background-color: cadetblue;
    float:left;
    width: 25%;
    list-style-type: none;
}

#homeParagraph{
    width: 80%;
    padding-left: 10%;
    font-size: large;
}

.twoCol div {
    width: 50%;
    float: left;
    font-size: large;
}

.twoCol ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slideshow {
    
  position: relative;
  
}

.previous, .next{
    cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding-right: 1em;
  padding-left: 1em;
  color: black;
  font-size: x-large;
  user-select: none;
}

.previous{
    left: 0;
}

.next{
    right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover{
    background-color:antiquewhite;
}

.picture{
    display:none;
}

img{
    max-width: 75%;
}
