body {
    background-color: grey;
    text-align: center;
}

#navbar {
    padding-bottom: 2em;
    padding-top: 1em;
    background: cadetblue;
    
}

.navbarElement{
    background-color: cadetblue;
    float:left;
    width: 25%;
    list-style-type: none;
}

#homeParagraph{
    width: 80%;
    padding-left: 10%;
    font-size: large;
}

.twoCol div {
    width: 50%;
    float: left;
    font-size: large;
}

.twoCol ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}